.header_nav_ul_link,
.list--item__btn {
    padding: 2px 5px 4px 5px;
    transition: all .3s ease-in-out;
}

.btn_lk,
.btn_lk path {
    margin-right: -8px;
    padding: 4px 6px;
}

.header_nav_ul_link:focus,
.btn_lk:focus-visible,
.second_nav_menu p:focus-visible,
.list--item__btn:focus-visible,
.list--item__btn_svg:focus-visible {
    background-color: var(--hard-purple);
    color: var(--white);
}

.header_nav_ul_link:hover,
.btn_lk:hover,
.btn_lk:hover path,
.second_nav_menu p:hover,
.list--item__btn:hover {
    color: var(--light-purple);
    fill: var(--light-purple);
}

.btn_lk:active,
.btn_lk:active path {
    color: var(--hard-purple);
    fill: var(--hard-purple);
}

.list--item__btn path {
    transition: all .3s ease-in-out;
}

.active--btn.list--item__btn:active {
    color: var(--hard-purple);
}

.list--item__btn:hover:not(:focus-visible) .list--item__btn_svg path {
    stroke: var(--purple);
}

.list--item__btn:active:not(:focus) .list--item__btn_svg path {
    stroke: var(--hard-purple);
}

.list--item__btn:hover path {
    stroke: var(--light-purple);
}

.list--item__btn:active,
.list--item__btn:active path {
    color: var(--hard-purple);
    stroke: var(--hard-purple);
}

.header_nav_ul_link:active,
.second_nav_menu p:active {
    color: var(--hard-purple);
    background-color: transparent;
}

.btn_search2:hover svg path,
.btn_search2:hover svg rect {
    fill: var(--light-purple);
}

.btn_search2:focus-visible svg path,
.btn_search2:focus-visible svg rect {
    fill: var(--purple);
}

.btn_search2:active svg path,
.btn_search2:active svg rect {
    fill: var(--hard-purple)
}

.search input:hover {
    border-bottom-color: var(--light-purple);
}

.search input:active,
.search input:focus {
    border-bottom-color: var(--hard-purple);
}

/* second nav dropdown */

.container--dropdown-list__item:hover {
    outline: 2px solid var(--purple);
}

.container--dropdown-list__item:focus::after {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: 2px solid var(--purple);
    outline-offset: -2px;
}

.container--dropdown-list__item:active {
    outline: none;
}

.container--dropdown-list__item:active::after {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.btn_mailing:hover {
    outline: 3px solid var(--super-light-purple);
}

.btn_mailing:active {
    background-color: var(--hard-purple);
    outline: 3px solid var(--super-light-purple);
}

.btn_mailing:focus {
    outline: 2px solid var(--light-purple);
    outline-offset: 2px;
    border-radius: 100px;
}

/* GAllERY */

.gallery__item:hover:before {
    z-index: 1;
    opacity: 1;
}

.gallery__item:active::before,
.gallery__item:focus::before,
.gallery__item:active::after {
    opacity: 1
}

#choices--select-item-choice-2:hover,
#choices--select-item-choice-3:hover,
#choices--select-item-choice-2:focus,
#choices--select-item-choice-3:focus {
    background: rgba(255, 255, 255, 0.2);
    color: var(--white);
}

.slider-nav__btn-next:hover,
.slider-nav__btn-prev:hover {
    border-color: var(--light-purple);
    background-color: var(--light-purple)
}

.slider-nav__btn-next:focus-visible,
.slider-nav__btn-prev:focus-visible {
    border: 2px solid var(--black);
    outline: 0
}

.slider-nav__btn-next:active,
.slider-nav__btn-prev:active {
    background-color: var(--hard-purple);
    border: 2px solid var(--black);
}

.slider-nav__btn-next.swiper-button-disabled,
.slider-nav__btn-next:disabled,
.slider-nav__btn-prev.swiper-button-disabled,
.slider-nav__btn-prev:disabled {
    opacity: .8;
    pointer-events: none;
    border: 2px solid var(--black);
}

.check__text:hover {
    color: var(--light-purple);
}

.checkbox:checked~.check__text:before {
    border-color: var(--light-purple);
}

.checkbox:checked~.check__text {
    color: var(--light-purple);
}

.checkbox:active~.check__text:before {
    border-color: var(--light-purple);
}

.checkbox:active~.check__text {
    color: var(--light-purple);
}

.checkbox:focus~.check__text:before {
    border-color: var(--light-purple);
}

.checkbox:focus~.check__text {
    color: var(--light-purple);
}

/* CATALOG */
.ac--list__iten-tab::after {
    display: block;
    position: relative;
    content: '';
    width: 0%;
    height: 1px;
    transition: background-color 0.3s ease-in;
}

.ac--list__iten-tab:hover::after {
    width: 100%;
    background-color: var(--purple);
}

.ac--list__iten-tab:hover {
    color: var(--purple);
}

.ac--list__iten-tab:active::after {
    background-color: var(--hard-purple);
}

.ac--list__iten-tab:active {
    color: var(--hard-purple);
}

.ac--list__iten-tab:focus-visible {
    background: var(--purple);
    color: var(--white);
}

.ac--list__item-top:hover,
.ac--list__item-top:focus-visible {
    border-color: var(--purple);
    position: relative;
    z-index: 1;
}

.ac--list__item-top:hover h3 {
    color: var(--purple);
}

.ac--list__item-top:focus h3 {
    background: var(--purple);
    color: var(--white);
}

.ac--list__item-top:hover .ac-list__item-btn,
.ac--list__item-top:focus-visible .ac-list__item-btn {
    background-color: var(--super-light-purple);
    border-color: var(--super-light-purple);
}

.ac--list__item-top:focus-visible {
    outline: 0;
}

.ac--list__item-top.ui-state-active h3 {
    color: var(--hard-purple);
}

.ac--list__item-top.ui-state-active:focus h3 {
    color: var(--white);
}

.ac--list__item-top.ui-state-active {
    border-color: var(--hard-purple);
}

.ac--list__item-top.ui-state-active .ac-list__item-btn {
    transform: rotate(180deg);
    background-color: var(--super-light-purple);
    border: 2px solid var(--purple);
}

/* event */

.swiper-button-prev_event:hover,
.swiper-button-next_event:hover,
.swiper-button-prev_project:hover,
.swiper-button-next_project:hover {
    background-color: var(--super-light-purple);
}

.swiper-button-prev_event:active,
.swiper-button-next_event:active,
.swiper-button-prev_project:active,
.swiper-button-next_project:active {
    background-color: var(--super-light-purple);
    border: 2px solid var(--purple);
}

.swiper-button-prev_event:focus:not(:active),
.swiper-button-next_event:focus:not(:active),
.swiper-button-prev_project:focus:not(:active),
.swiper-button-next_project:focus:not(:active) {
    background-color: var(--white);
    border: 2px solid var(--purple);
}

.events_link {
    padding: 2px 5px 4px 5px;
    transition: all .3s ease-in-out;
}

.events_link:hover {
    color: var(--hard-purple);
}

.events_link:hover::after {
    background-color: var(--hard-purple);
}

.events_link:active {
    color: var(--hard-grey);
}

.events_link:active::after {
    background-color: var(--hard-grey);
}

.events_link:focus-visible {
    background-color: var(--purple);
    color: var(--white);
}

.events_link:focus-visible::after {
    background-color: var(--white);
}

/* PROJECT */

.tooltip:hover path,
.tooltip:focus-visible path {
    fill: var(--black);
}

.tooltip:hover,
.tooltip:focus-visible {
    background-color: var(--super-light-purple);
    border: 1px solid var(--purple);
}

.tooltip:active {
    background-color: var(--purple);
}

.tooltip:active path {
    fill: var(--white);
}

.projects_link:hover::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 95%;
    background-color: var(--purple);
    bottom: 2px;
    right: 2%;
}

.swiper-slide_project:hover img {
    filter: grayscale(0%);
}

.swiper-slide_project:active {
    border-color: var(--purple);
}

.swiper-slide_project:focus:not(:active) {
    border-color: var(--purple);
}

.swiper-slide_project:focus:not(:active) img {
    filter: grayscale(100%);
}

/* footer */

.just-validate-error-field {
    border-color: var(--red);
}

.footer_btn__submit:hover {
    background-color: var(--purple);
    color: var(--white);

}

.footer_btn__submit:active {
    background-color: var(--super-light-purple);
    color: var(--white);
}

.footer_btn__submit:focus-visible {
    outline: 2px solid var(--light-purple);
    outline-offset: 3px;
}

.footer_social1__ul_li:hover,
.footer_social1__ul_li:focus-visible {
    opacity: 0.5;
}

.footer_social1__ul_li_ref:active::before,
.footer_social1__ul_li:active {
    opacity: 1;
}

.footer_social2_li_svg:hover path,
.footer_social2_li_svg:focus-visible path {
    fill: var(--white);}

.footer_social2_li_svg:active path {
    fill: var(--purple);
}

@media (max-width: 1336px) {
    .header {
        margin-bottom: 48px;
    }

    .second_nav,
    .btn_lk {
        display: none;
    }

    .header_nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 0;
        z-index: 10;
        margin: 0;
        left: 0;
        width: 100%;
        min-height: 800px;
        background-color: rgba(0, 0, 0, 0.9);
        -webkit-transition: -webkit-transform .1s ease-in;
        transition: -webkit-transform .1s ease-in;
        -o-transition: transform .1s ease-in;
        transition: transform .1s ease-in;
        transition: transform .1s ease-in, -webkit-transform .1s ease-in;
        -webkit-transform: translateX(-140%);
        -ms-transform: translateX(-140%);
        transform: translateX(-140%);
        padding: 97px 0 50px 43px;
    }

    .header_nav_ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header_nav_ul a {
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 64px;
        letter-spacing: 1px;
    }

    .header_nav.header_nav_active {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    .logo {
        margin-right: 28px;
    }

    .logo img {
        width: 187px;
    }

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 36px;
        height: 28px;
        cursor: url(/img/cursor.png), auto;
    }

    .burger_active {
        display: block;
        position: absolute;
        top: 36px;
        left: 50px;
    }

    /* FORM SEARCH */
    .header_search {
        position: static;
        overflow: hidden;
    }

    .header_container {
        position: relative;
        justify-content: space-between
    }

    .nav_form {
        width: 0;
        z-index: 5;
        padding: 5px;
        opacity: 0;
        position: relative;
        transition: transform .9s ease-in-out;
        transform: translate(150%);
    }

    .input_search {
        background: transparent;
        border: none;
        border-bottom: 1px solid #FFFFFF;
        outline: none;
        opacity: 0.85;
        width: 218px;
        padding-bottom: 6px;
        display: inline-block;
        z-index: 3;
        cursor: url(/img/cursor.png);
        font-size: 18px;
    }

    .nav_form_active {
        background: none;
        transform: translate(0);
        opacity: 1;
        width: 314px;
        position: absolute;
        padding: 0;
        top: 24%;
        right: 5%;
    }

    .input_search.active {
        width: 100%;
    }

    .btn_search {
        transition: all 0.5ms ease-in-out;
        opacity: 1;
        right: 4.8%;
        top: 36%;
    }

    .btn_search.active {
        opacity: 0;
    }

    .search_x {
        position: absolute;
        top: 45%;
        right: 3%;
    }

    .btn_search_submit {
        position: relative;
        top: 10px;
        left: -6px;
    }

    .header_search {
        display: inline-block;
    }

    .btn_lk_mobile {
        display: block;
        border: 2px solid var(--purple);
        box-sizing: border-box;
        border-radius: 100px;
        padding: 17.5px 91px 17.5px 84px;
        font-family: 'Open_Sans', sans-serif;
        font-weight: 600;
        font-size: 18px;
        max-width: 257px;
        width: 100%;
        margin-left: 6px;
        color: var(--white);
    }

    .btn_lk_mobile a {
        font-family: 'Open_Sans_semi_bold', sans-serif;
        font-size: 18px;
        color: var(--white);
    }

    .btn_lk_mobile svg {
        margin-right: 3px;
    }

    .hero_container {
        padding-top: 157px;
    }

    .hero_text {
        max-width: 80%;
        margin-left: 0;
    }

    .hero_content {
        padding-bottom: 114px;
    }

    .hero_content p {
        margin-top: -10px;
        margin-bottom: 133px;
    }

    .swiper-slide-1 {
        background-image: url(/img/birmingham-museums-trust-MK_98NuC4-4-unsplash_2_1024.jpg);
    }

    .swiper-slide-2 {
        background-image: url(/img/birmingham-museums-trust-MK_98NuC4-4-unsplash_4_1024.jpg);
    }

    .swiper-slide-3 {
        background-image: url(/img/birmingham-museums-trust-MK_98NuC4-4-unsplash_5_1024.jpg);
    }

    .about .container {
        padding-left: 50px;
    }

    .about_container p {
        max-width: 100%;
    }

    .gallery__container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .gallery__item {
        height: 315px;
    }

    .gallery__header {
        min-width: 280px;
    }

    .gallery__filter {
        padding-bottom: 35px;
    }

    .choices__inner {
        width: 100%;
    }

    .choices[data-type*=select-one]:after {
        right: 5.7%;
    }

    .choices__list {
        max-width: 280px;
    }

    .catalog {
        margin-bottom: 81px;
    }

    .catalog .container {
        padding-left: 48px;
        padding-right: 46px;
    }

    .catalog_p {
        min-width: 100%;
    }

    .ac--list__iten-drawers {
        display: flex;
        flex-direction: column;
        max-height: 445px;
        padding-bottom: 26px;
        padding-top: 27px;
        margin-right: -64px;
    }

    .article-content__img {
        max-width: 437px;
    }

    .article-content p {
        padding-top: 10px;
    }

    .ac--list {
        width: 47.3%;
        margin-left: 5px;
    }

    .ac--list__item-top {
        margin-top: 0;
        padding-bottom: 32px;
        padding-top: 31px;
    }

    .ac--list__iten-tab {
        line-height: 1.3;
    }

    .empty {
        min-width: 175px;
        height: 115px;
        outline: 2px solid var(--light-grey);
        outline-offset: 5px;
        margin-left: 8px;
        margin-right: 33px;
    }

    .ac--list__iten-bottom_empty {
        padding-top: 25px;
    }

    .empty_txt p {
        max-width: 100%;
    }

    .empty_txt h3 {
        padding-top: 11px;
    }

    .swiper-slide_event {
        height: 683px;
    }

    .swiper-slide_event span {
        text-align: end;
        padding: 5px 32px 0 0;
    }

    .event .container {
        padding-left: 49px;
    }

    .event_img {
        min-height: 200px;
    }

    .event_content {
        padding: 4px 33px 49px 34px;
        max-height: 436px;
    }

    .event_content h3 {
        margin-bottom: 7px;
        max-width: 100%;
    }

    .event_content p {
        width: 100%;
    }

    .events_link {
        bottom: 70px;
    }

    .swiper-pagination-bullet {
        display: inline-block;
        bottom: -51px;
        left: -4px;
    }

    .events_pagination {
        display: inline-block;
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal {
        width: 100%;
        position: initial;
        padding-top: 20px;
    }

    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background: var(--grey);
    }

    .swiper-button-prev_event,
    .swiper-button-next_event {
        display: none;
    }

    .event .container {
        margin-bottom: 69px;
    }

    /* PROJECTS 1336 */

    .project {
        margin-bottom: 80px;
    }

    .project .container {
        padding-left: 50px;
    }

    .project p {
        max-width: 100%;
    }

    .swiper-container_project {
        margin: 0 auto;
        max-width: 818px;
    }

    .swiper-slide_project {
        max-height: 128px;
    }

    .swiper-slide_project img {
        max-width: 85%;
    }

    .footer_container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 43px 30px 33px 50px;
    }

    .address {
        margin-bottom: 22px;
    }

    .address h3 {
        margin-bottom: 5px;
    }

    .address address {
        font-size: 14px;
    }

    .footer_btn__submit {
        min-width: 343px;
    }

    .form_footer {
        margin-bottom: 25px;
    }

    .footer_bottom {
        padding-top: 40px;
        padding-bottom: 30px;
    }

    .footer_bottom_container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .footer_social2_li svg {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .swiper-button-prev_project {
        left: -6.7%;
    }

    .swiper-button-next_project {
        right: -6.6%;
    }

    .events_link {
        bottom: 49px;
    }
}

@media (max-width: 1000px) {
    .gallery {
        min-height: 889px;
        margin-bottom: 80px;
    }

    .gallery__container {
        flex-direction: column;
        max-width: 768px;
    }

    .gallery__slider {
        flex-direction: column;
    }

    .gallery__header {
        margin-bottom: 15px;
        max-width: 280px;
    }

    .gallery__filter {
        padding-bottom: 0;
        height: 218px;
    }

    .choices[data-type*=select-one]:after {
        right: 5.7%;
    }

    .gallery__header {
        max-height: 500px;
    }

    .gallery__item {
        height: 330px;
    }

    .gallery__img {
        max-width: 315px;
        width: 100%;
    }

    .ac--list__iten-bottom_empty {
        padding-top: 32px;
        padding-bottom: 25px;
    }

    .empty_txt p {
        width: 74%;
    }

    .empty {
        min-width: 251px;
        height: 165px;
        outline-offset: 10px;
        margin-left: 13px;
        margin-right: 35px;
    }
}

@media (max-width: 769px) {
    .container {
        max-width: 768px;
    }

    .tab-content {
        display: flex;
        flex-direction: column-reverse;
    }

    .hero_content {
        max-height: 768px;
    }

    .hero_content p {
        max-width: 100%;
        margin-bottom: 134px;
    }

    .hero_text {
        max-width: 100%;
    }

    .header_search svg {
        width: 27.5px;
        height: 27.5px;
    }

    .btn_search {
        right: 6.5%;
    }

    .btn_lk_mobile {
        position: absolute;
        left: 6.8%;
    }

    .swiper-slide-1 {
        background-image: url(/img/birmingham-museums-trust-MK_98NuC4-4-unsplash_2_768.jpg);
    }

    .swiper-slide-2 {
        background-image: url(/img/birmingham-museums-trust-MK_98NuC4-4-unsplash_4_768.jpg);
    }

    .swiper-slide-3 {
        background-image: url(/img/birmingham-museums-trust-MK_98NuC4-4-unsplash_5_768.jpg);
    }

    .ac--list {
        width: 100%;
        margin-left: 0;
        margin-bottom: 51px;
    }

    .catalog_p {
        margin-bottom: 20px;
    }

    .ac--list__iten-drawers {
        max-height: 360px;
    }

    .article-content__img {
        max-width: 668px;
        width: 668px;
        margin-bottom: 10px;
    }

    .article-content p {
        padding-top: 0px;
        min-width: 668px;
    }

    .event_img {
        max-height: 200px;
    }

    .event h2 {
        margin-bottom: 13px;
    }

    .swiper-slide_event span {
        padding: 5px 15px 0 0;
    }

    .event_content h3 {
        margin-bottom: 5px;
    }

    .events_link {
        bottom: 48px;
    }

    .project p {
        padding-right: 6px;
        margin-bottom: 28px;
    }

    .projects_link::before {
        content: 'blanchard-art.ru';
    }

    .swiper-container_project {
        max-width: 561.58px;
    }

    .swiper-slide_project {
        max-height: 106px;
    }

    .project h3 {
        margin-bottom: 29px;
    }

    .swiper-button-prev_project {
        left: -9.7%;
        top: 55.3%;
    }

    .swiper-button-next_project {
        right: -9.6%;
        top: 55.5%;
    }

    .footer_form__input {
        width: 323px;
    }

    .footer_btn__submit {
        min-width: 317px;
    }

    .form__fields:not(:last-child) {
        margin-bottom: 12px;
    }

    .form_footer {
        flex-wrap: wrap;
        width: 100%;
    }
}

@media (max-width: 660px) {
    .header {
        height: 355px;
        margin-bottom: 37px;
    }

    .header_top {
        max-height: 45px;
    }

    .logo {
        padding-top: 11px;
        padding-right: 14px;
        margin: 0;
    }

    .logo img {
        width: 97px;
    }

    .burger {
        width: 25px;
        height: 18px;
    }

    .burger .burger-line {
        height: 2px;
    }

    .burger .burger-line:nth-child(2) {
        width: 65%;
    }

    .burger .burger-line:nth-child(3) {
        width: 41%;
    }

    .header_search svg {
        width: 18px;
        height: 27.5px;
    }

    .btn_search {
        transition: all 0.5ms ease-in-out;
        opacity: 1;
        right: 4.7%;
        top: 17%;
    }

    .hero_container {
        padding-top: 54px;
    }

    .hero_content p {
        margin: 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0px;
        margin-bottom: 41px;
    }

    .hero_text h1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        margin-bottom: 2px;
    }

    .hero_content {
        height: 355px;
        padding-bottom: 45px;
    }

    .btn_mailing {
        font-size: 12px;
        width: 200px;
        height: 40px;
        text-align: center;
        padding: 11px 12px 14px 19px;
    }

    /* ABOUT US */
    .about {
        margin-bottom: 41px;
    }

    .about_container h2 {
        font-size: 28px;
        margin-bottom: -2px;
    }

    .about_container p {
        font-size: 14px;
        line-height: 28px;
        max-width: 100%;
    }

    .about .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .gallery__title {
        font-size: 28px;
        letter-spacing: 0px;
        margin-bottom: -4px;
    }

    .gallery {
        padding: 38px 0px;
        margin-bottom: 37px;
    }

    .choices {
        padding-top: 6px;
    }

    .choices__inner {
        min-width: 290px;
    }

    .choices[data-type*=select-one]:after {
        right: 6.7%;
    }

    .gallery__filter {
        height: 205px;
        margin-bottom: 14px;
    }

    .gallery__slider {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .choices__list {
        max-width: 290px;
    }

    .catalog h2 {
        margin-bottom: -2px;
        font-size: 28px;
    }

    .catalog_p {
        display: none;
    }

    .ac--list__item-top h3 {
        font-size: 18px;
    }

    .ac--list__item-top {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .ac--list__iten-drawers {
        max-height: 100%;
        padding-bottom: 23px;
        padding-top: 22px;
    }

    .article-content__img {
        width: 290px;
    }

    .empty {
        min-width: 0%;
        max-width: 79px;
        height: 118px;
        outline-offset: 3px;
        margin-left: 3px;
        margin-right: 30px;
    }

    .empty_txt h3 {
        font-size: 18px;
    }

    .empty_txt p {
        width: 100%;
    }

    .ac--list__iten-bottom_empty {
        padding-top: 49px;
        padding-bottom: 49px;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 320px;
        padding-left: 15px;
        padding-right: 16px;
    }

    .hero_text {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        margin-left: 2px;
    }

    .hero_content p {
        max-width: 86%;
        text-align: center;
    }

    .swiper-slide-1 {
        background-image: url(/img/birmingham-museums-trust-MK_98NuC4-4-unsplash_2_320jpg);
    }

    .swiper-slide-2 {
        background-image: url(/img/birmingham-museums-trust-MK_98NuC4-4-unsplash_4_320.jpg);
    }

    .swiper-slide-3 {
        background-image: url(/img/birmingham-museums-trust-MK_98NuC4-4-unsplash_5_320.jpg);
    }

    .gallery__item {
        width: 290px;
        height: 367px;
    }

    .gallery__list {
        margin-bottom: -6px;
    }

    .gallery {
        min-height: 800px;
    }

    .ac-list__item-btn {
        width: 10%;
        height: 29px;
    }

    .ac-list__item-btn svg {
        max-width: 9px;
    }

    .article-content.article-tabActive {
        margin-top: -6px;
    }

    .article-content {
        max-width: 100%;
    }

    .article-content p {
        padding-top: 4px;
        min-width: 290px;
        max-width: 100%;
    }
}