.nav_link,
.btn_search {
  padding: 4px 5px;
  transition: all .3s ease-in-out;
}

.logo:focus,
.nav_link:focus,
.btn_search:focus {
  background-color: var(--hard-purple);
  color: var(--white);
}

.nav_link:hover,
.header_search_svg:hover path,
.header_search_svg:hover rect {
  color: var(--light-purple);
  fill: var(--light-purple);
}

.nav_link:active,
.header_search_svg:active path,
.header_search_svg:active rect {
  color: var(--hard-purple);
  background-color: transparent;
  fill: var(--hard-purple);
}

.btn_mailing:hover {
  outline: 3px solid var(--super-light-purple);
}

.btn_mailing:active {
  background-color: var(--hard-purple);
  outline: 3px solid var(--super-light-purple);
}

.btn_mailing:focus {
  outline: 2px solid var(--light-purple);
  outline-offset: 2px;
  border-radius: 100px;
}

/* GAllERY */

.check__text:hover {
  color: var(--light-purple);
}

.checkbox:checked~.check__text:before {
  border-color: var(--light-purple);
}

.checkbox:checked~.check__text {
  color: var(--light-purple);
}

.checkbox:active~.check__text:before {
  border-color: var(--light-purple);
}

.checkbox:active~.check__text {
  color: var(--light-purple);
}

.checkbox:focus~.check__text:before {
  border-color: var(--light-purple);
}

.checkbox:focus~.check__text {
  color: var(--light-purple);
}

/* event */

.events_link {
  padding: 2px 5px 4px 5px;
  transition: all .3s ease-in-out;
}

.events_link:hover {
  color: var(--hard-purple);
}

.events_link:hover::after {
  background-color: var(--hard-purple);
}

.events_link:active {
  color: var(--hard-grey);
}

.events_link:active::after {
  background-color: var(--hard-grey);
}

.events_link:focus-visible {
  background-color: var(--purple);
  color: var(--white);
}

.events_link:focus-visible::after {
  background-color: var(--white);
}

/* footer */

.footer_btn__submit:hover {
  background-color: var(--purple);
  color: var(--white);
}

.footer_btn__submit:active {
  background-color: var(--hard-purple);
  color: var(--white);
}

.footer_btn__submit:focus-visible {
  outline: 2px solid var(--light-purple);
  outline-offset: 3px;
}

.footer_social1__ul_li:hover,
.footer_social1__ul_li:focus {
  opacity: 0.5;
}

.footer_social1__ul_li_ref:active::before,
.footer_social1__ul_li:active {
  opacity: 1;
}

.footer_social2_li_svg:hover path,
.footer_social2_li:focus path {
  fill: var(--white);
}

.footer_social2_li_svg:active path {
  fill: var(--purple);
}


@media (max-width: 1336px) {
  .header {
    margin-bottom: 80px;
    height: 768px;
  }

  .header_container {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 32px;
    padding-bottom: 19px;
  }

  .header_top {
    height: 147px;
  }

  .logo {
    width: 187.6px;
    height: 42px;
  }

  .btn_search {
    position: absolute;
    padding-top: 5px;
    top: 34px;
    right: 49px;
  }

  .nav_list {
    width: 101%;
    margin-left: -5px;
  }

  .hero_title {
    margin-bottom: 20px;
  }

  .hero_content {
    padding-bottom: 114px;
  }

  .hero_desc {
    max-width: 72%;
    margin-bottom: 14.5%;
  }

  .gallery__container {
    flex-direction: column;
  }

  .gallery__header {
    justify-content: flex-start;
  }

  .gallery__title {
    margin-bottom: 16px;
  }

  .gallery__list {
    padding-top: 30px;
  }

  .gallery__item {
    max-height: 275px;
    width: 275px;
  }

  .catalog {
    margin-left: 0;
  }

  .catalog_top_desc {
    max-width: 100%;
  }

  .article {
    flex-direction: column;
  }

  .article_desc {
    padding-top: 9px;
  }

  .article_img {
    margin-right: 0;
    margin-bottom: 30px;
    max-width: 924px;
  }

  .event_cards {
    flex-wrap: nowrap;
    max-width: 1024px;
    gap: 27px;
  }

  .event_item {
    width: calc((100% - 27px*2) / 3);
    align-items: flex-end
  }

  .event_content {
    padding: 4px 12px 43px 33px;
  }

  .event_content_title {
    max-width: 100%;
    margin-bottom: 8px;
  }

  .event_address {
    text-align: end;
    padding: 4px 33px 0 0;
  }

  .event_content_desc {
    margin-bottom: 19px;
    max-width: 100%;
  }

  .project_container_title {
    margin-bottom: 16px;
  }

  .project_container_desc {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .project_cards {
    margin-right: 27px;
  }

  .project_title {
    margin-bottom: 16px;
  }

  .footer_container {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 43px;
    padding-bottom: 43px;
  }

  .address {
    margin-bottom: 30px;
  }

  .address_title {
    margin-bottom: 10px;
  }

  .footer_address {
    font-size: 14px;
    line-height: 19.07px;
  }

  .form_footer {
    margin-bottom: 25px;
  }

  .footer_btn__submit {
    min-width: 343px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .hero {
    top: 147px;
    background-image: url(/img/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 21024\ \(1\).jpg);
  }

  .hero_container {
    padding-top: 52px;
  }

  .about_desc {
    max-width: 100%;
  }

  .event_container {
    margin-bottom: 82px;
  }

  .event_img {
    height: 200px;
  }

  .footer_bottom {
    padding-top: 40px;
  }

  .footer_social2_li_svg {
    width: 60px;
    height: 60px;
  }

}

@media (max-width: 1000px) {

  .gallery {
    margin-bottom: 80px;
  }

  .gallery__item {
    max-height: 200px;
  }

  .gallery__item:not(:last-child) {
    margin-right: 34px;
  }

  .event_cards {
    flex-direction: column;
  }

  .event_item {
    width: 100%;
    align-items: inherit;
  }

  .event_img {
    width: 100%;
  }

  .form__fields:not(:last-child) {
    margin-bottom: 12px;
    margin-right: 20px;
  }

  .form_footer {
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 103%;
  }

  .footer_btn__submit {
    min-width: 317px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }

  .hero {
    background-image: url(/img/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 2768.jpg );
  }

  .hero_container {
    padding-top: 39px;
  }

  .hero_desc {
    max-width: 83%;
    margin-bottom: 132px;
  }

  .header_search_svg {
    width: 27.5px;
    height: 27.5px;
  }

  .btn_search {
    right: 6.5%;
  }

  .catalog {
    margin-bottom: 78px;
  }

  .catalog_top_desc {
    margin-bottom: 40px;
  }

  .article_desc {
    padding-top: 0px;
  }

  .event_content_title {
    max-width: 79%;
    padding-top: 5px;
    margin-bottom: 5px;
  }

  .event_content_title {
    margin-bottom: 15px;
    padding-top: 0;
  }

  .event_content_desc {
    margin-bottom: 52px;
    width: 97%;
  }

  .event_address {
    padding-top: 6px;
  }

  .event_content {
    padding: 2px 14px 43px 33px;
  }

  .event_cards {
    gap: 31px;
  }

  .project_container_desc {
    padding-right: 9px;
    margin-bottom: 28px;
  }

  .project_title {
    margin-bottom: 29px;
  }

  .footer_form__input {
    width: 323px;
  }

  .project_cards {
    min-width: 317px;
    margin-right: 34px;
    padding: 22px;
  }

}

@media (max-width: 720px) {
  h2 {
    font-size: 28px;
  }

  .header {
    height: 388px;
    margin-bottom: 37px;
  }

  .header_top {
    height: 78px;
    margin-bottom: 37px;
  }

  .header_container {
    padding-top: 16px;
    padding-bottom: 12px;
  }

  .logo {
    background-size: contain;
    width: 96.9px;
    min-height: 22px;
    margin-bottom: 5px;
  }

  .header_search_svg {
    width: 18px;
    height: 18px;
  }

  .nav_item {
    font-weight: 700;
    font-size: 10px;
  }

  .btn_search {
    top: 13px;
    right: 15px;
  }

  .hero {
    top: 0
  }

  .hero_container {
    display: flex;
    padding-top: 107px;
    flex-direction: column;
    align-items: center;
  }

  .hero_title {
    max-width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 28px;
    margin-bottom: 11px;
  }

  .hero_desc {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 39px;
    max-width: 86%;
  }

  .btn_mailing {
    font-size: 12px;
    width: 200px;
    height: 40px;
    text-align: center;
    letter-spacing: 0.5px;
    padding: 11px 15px 14px 19px;
  }

  .about {
    margin-bottom: 41px;
  }

  .about_title {
    margin-bottom: -2px;
  }

  .about_desc {
    font-size: 14px;
    line-height: 28px;
  }

  .gallery {
    background-image: url(/img/back_gallery320.jpg);
    height: 1206px;
    margin-bottom: 38px;
  }

  .gallery__container {
    justify-content: flex-start
  }

  .gallery__title {
    margin-bottom: -2px;
  }

  .gallery__list {
    flex-direction: column;
    margin-bottom: -6px;
    padding-top: 0;
    margin-right: 0px;
  }

  .gallery__header {
    max-height: 188px;
  }

  .gallery__item {
    align-self: baseline;
    min-width: 290px;
    min-height: 290px;
  }

  .gallery__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .project_partners {
    flex-direction: column;
  }

  .project_cards {
    min-width: 290px;
    max-width: 100%;
    max-height: 100px;
    margin-right: 0;
    padding: 30px 65px;
  }

  .project_cards:not(:last-child) {
    margin-bottom: 13px;
  }

  .footer_bottom_container {
    flex-direction: column-reverse
  }

  .footer_logo {
    max-width: 96.8px;
  }

  .footer_social2_li_svg {
    width: 50px;
    height: 50px;
  }

  .footer_bottom {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .footer_social2 {
    margin-bottom: 10px;
  }

}

@media (max-width: 320px) {

  .container {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero {
    background-image: url(/img/hero2_320.jpg);
  }

  .gallery {
    padding: 38px 0px 0px 0;
  }

  .catalog {
    margin-bottom: 37px;
  }

  .catalog_top_title {
    margin-bottom: -3px;
  }

  .catalog_top_desc {
    margin-bottom: 30px;
  }

  .article:not(:last-child) {
    margin-bottom: 30px;
  }

  .article:nth-child(2n) {
    margin-bottom: 28px;
  }

  .article_title {
    margin-bottom: -2px
  }

  .article_img {
    margin-bottom: 19px;
  }

  .article_desc {
    padding-top: 8px;
  }

  .event_container {
    margin-bottom: 39px;
  }

  .event_title {
    margin-bottom: -2px;
  }

  .event_address {
    padding-top: 7px;
    padding-right: 18px;
  }

  .event_content_title {
    max-width: 100%;
    margin-bottom: 5px;
  }

  .event_content {
    padding: 9px 14px 43px 23px;
  }

  .event_content_desc {
    margin-bottom: 45px;
  }

  .events_link {
    margin-left: 0px;
  }

  .event_cards {
    gap: 23px;
  }

  .project {
    margin-bottom: 3px;
  }

  .project_container_title {
    margin-bottom: -2px;
  }

  .project_container_desc {
    padding-right: 0px;
    margin-bottom: 20px;
  }

  .project_title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .address_title {
    font-size: 18px;
    margin-bottom: 1px;
  }

  .footer_container::after,
  .footer_container::before {
    width: 0;
  }

  .footer_form__input {
    width: 290px;
    height: 40px;
  }

  .address {
    margin-bottom: 20px;
  }

  .footer_container {
    padding-bottom: 61px;
  }

  .form__fields:not(:last-child) {
    margin-bottom: 20px;
    margin-right: 0px;
  }

  .footer_btn__submit::before {
    content: 'Заказать';
  }

  .footer_btn__submit {
    font-size: 12px;
    min-width: 128px;
    max-height: 40px;
  }

  .footer_social1_title {
    font-size: 18px;
    letter-spacing: 0px;
  }

  .form_footer {
    margin-bottom: 15px;
  }

  .footer_social1__ul_li_svg {
    width: 50px;
    height: 50px;
  }

  .footer_social1__ul_li:not(:last-child) {
    margin-right: 31px;
  }

}