* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --black: #000000;
    --hard-grey: #333333;
    --grey: #666666;
    --light-grey: #999999;
    --super-light-grey: #cacaca;
    --hard-purple: #7943A4;
    --purple: #9D5CD0;
    --light-purple: #C283F3;
    --super-light-purple: #D1A9F0;
    --green: #30BF39;
    --red: #D11616;
    --white: #ffffff;
}

::after,
::before {
    box-sizing: inherit;
}

html,
body {
    margin: 0 auto;
    padding: 0;
    font-family: "Open_Sans", sans-serif;
    font-size: 16px;
    color: var(--hard-grey);
    line-height: 32px;
    background-color: var(--white);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: url(/img/cursor.png), auto;
}

button {
    cursor: url(/img/cursor.png), auto;
    background: transparent;
    border: none;
}

ul,
li {
    list-style: none;
    padding: 0;
}

.container {
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    padding-right: 50px;
    padding-left: 50px;
}

h1 {
    font-family: "Open_Sans_bold", sans-serif;
    font-size: 72px;
    line-height: 82.8px;
    color: var(--white);
    margin-bottom: 0px;
}

h2 {
    font-family: "Open_Sans", sans-serif;
    font-size: 48px;
    line-height: 65px;
    font-weight: 400;
    letter-spacing: 0px;
}

h3 {
    font-family: "Open_Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--hard-grey);
}

h4 {
    font-family: "Open_Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: var(--hard-grey);
    letter-spacing: 0.7px;
}

p {
    font-family: "Open_Sans", sans-serif;
    font-size: 18px;
    color: var(--white);
}

:focus {
    outline: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header */

.header {
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: 80px;
    min-height: 800px;
}

.header__top {
    position: relative;
    padding-top: 30px;
    padding-bottom: 28px;
    background-color: var(--black);
    z-index: 5;
    display: flex;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navigation {
width: 65.3%;
}

.nav {
    margin-right: 110px;
    margin-bottom: 5px; 
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.nav__item {
    font-family: "Open_Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: var(--white);

}

.nav__link {
    white-space: nowrap;
}

.logo {
    background-image: url(/img/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 173px;
    height: 39.9px;
    transition: all .3s ease-in-out;
}

.btn-search {
    margin-top: 2px;
    margin-right: -5px;
    transition: all .3s ease-in-out;
}

.hero {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(/img/hero2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 800px;
}

.hero__container {
    padding-top: 198px;
}

.hero__title {
    line-height: 68px;
    max-width: 50%;
    margin-bottom: 20px;
}

.hero__desc {
    max-width: 34%;
    letter-spacing: 0.88px;
    line-height: 30px;
    margin-bottom: 92px;
}

.btn-mailing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px 34px;
    min-width: 314px;
    min-height: 70px;
    font-family: "Open_Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: var(--white);
    background: var(--purple);
    border-radius: 100px;
    letter-spacing: 0.8px;
    transition: all .2s ease;
    cursor: url(/img/cursor_black.png), auto;
}

/* ABOUT US */

.about {
    margin-bottom: 70px;
}

.about__title {
    margin-bottom: 16px;
    color: var(--hard-grey);
}

.about__desc {
    color: var(--hard-grey);
    font-size: 16px;
    max-width: 67%;
}


/* Галерея */

.gallery {
    background: url(/img/gallery-bg.jpg) center no-repeat;
    background-size: cover;
    color: var(--white);
    padding: 80px 0 80px 0px;
    margin-bottom: 80px;
}

.gallery__container {
    display: flex;
    justify-content: space-between;
    max-width: 1700px;
    height: 100%;
}

.gallery__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.gallery__list {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 85px;
}

.gallery__item {
    max-height: 350px;
    height: 100%;
    cursor: url(/img/cursor.png), auto;
    transition: .3s opacity, 0s border-color;
}

.gallery__item:not(:last-child) {
    margin-right: 50px;
}

.gallery__item:active {
    border-color: var(--purple-light)
}

.gallery__item:focus {
    border-color: var(--hard-purple);
    outline: 0
}

.gallery__item::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: .3s opacity;
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.gallery__item::before {
    content: "";
    position: absolute;
    top: 21px;
    bottom: 28px;
    right: 24px;
    left: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(/img/img_prev.svg);
    background-size: 26%;
    background-position: 50% 46%;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0;
    transition-property: z-index, opacity;
    transition: .3s ease-in-out;
}

.gallery__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
}

.check-text {
    position: relative;
    padding-left: 23px;
    cursor: url(/img/cursor.png), auto;
    transition: color .3s ease-in-out;
}

.check-text:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border: 1px solid var(--white);
    transition: border-color .3s ease-in-out;
}

.check-text:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    background: var(--light-purple);
    border: 1px solid var(--black);
    border-radius: 100%;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.checkbox:checked~.check-text:after {
    opacity: 1;
}

/* CATALOG */

.catalog {
    margin-bottom: 80px;
    margin-left: 2px;
}

.catalog__top__title {
    color: var(--black);
    margin-bottom: 16px;
}

.catalog__top__desc {
    color: var(--black);
    font-size: 16px;
    max-width: 68%;
    margin-bottom: 39px;

}


/* drawers */

.article {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
}

.article:not(:last-child) {
    margin-bottom: 50px;
}

.article__img {
    max-width: 750px;
    width: 100%;
    margin-right: 50px;
}

.article__dates {
    font-family: 'Open_Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--light-grey);
}

.article__desc {
    padding-top: 7px;
    font-family: 'Open_Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--hard-grey);
}

/* EVENTS SWIPER */

.event__container {
    margin-bottom: 84px;
}

.event__title {
    margin-bottom: 15px;
}

.event__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: 0 auto;
    gap: 30px;
}

.event__item {
    background: var(--white);
    outline: 1px solid #CACACA;
    width: calc((100% - 50px*2) / 3);
    display: flex;
    flex-direction: column;
}

.event__address {
    padding: 4px 0 0 49px;
    display: block;
    font-size: 12px;
    color: var(--light-grey);
    letter-spacing: 0.2px;
    line-height: 16px;
}

.event__img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.event__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 12px 0 35px 49px;
    letter-spacing: 0.7px;
    flex: 1;
}


.event__content__title {
    line-height: 33px;
    margin-bottom: 10px;
    max-width: 76%;
}

.event__content__title__first {
    max-width: 72%;
}

.event__content__desc {
    font-size: 16px;
    line-height: 32px;
    color: var(--hard-grey);
    letter-spacing: 0px;
    width: 92%;
    margin-bottom: 62px;
}

.events-link {
    position: relative;
    letter-spacing: 0px;
    font-size: 16px;
    margin-top: auto;
    display: inline-block;
    max-width: max-content;
    margin-left: -5px;
    color: var(--purple);
    cursor: url(/img/cursor_black.png), auto;
}

.events-link::after {
    content: '';
    position: absolute;
    bottom: 6px;
    right: 6%;
    height: 1px;
    width: 86px;
    background-color: var(--purple);
}

/* PROJECT */

.project {
    margin-bottom: 80px;
}

.project__container__title {
    margin-bottom: 15px;
}

.project__container__desc {
    color: var(--hard-grey);
    font-family: "Open_Sans", sans-serif;
    font-size: 16px;
    max-width: 66.5%;
    margin-bottom: 30px;
}

.project__title {
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

.project__partners {
    display: flex;

}

.project__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 34px;
    height: 122px;
    width: 329px;
    padding: 27px;
    background: #FFFFFF;
    border: 1px solid var(--super-light-grey);
    cursor: url(/img/cursor_black.png), auto
}

.project__img {
    width: 100%;
    filter: grayscale(100%) opacity(30%);
    transition: filter 0.8s ease;
}

/* FOOTER */

.footer__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.footer__container::after,
.footer__container::before {
    content: '';
    position: absolute;
    right: 0;
    left: -50%;
    height: 1px;
    background-color: var(--super-light-grey);
    width: 200%;
    overflow: hidden;
}

.footer__container::after {
    top: 0;
}

.footer__container::before {
    bottom: 0;
}

address {
    font-style: normal;
}

.address__title {
    letter-spacing: 0.5px;
}

.form-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 56.9%;
}

.footer__form__input {
    border: 1px solid var(--hard-grey);
    border-radius: 100px;
    padding: 9px 57px 9px 25px;
    height: 50px;
    width: 270px;
}

.form-fields {
    position: relative;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
}


.footer__btn__submit {
    cursor: url(/img/cursor_black.png), auto;
    font-family: 'Open_Sans_bold', sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: var(--purple);
    border: 2px solid var(--purple);
    border-radius: 100px;
    height: 50px;
    min-width: 329px;
    transition: all 0.3s ease-in-out;
}

.footer__btn__submit::before {
    content: 'Заказать обратный звонок';
}

.footer-social1 {
    margin-top: 5px;
}

.footer__social1__title {
    letter-spacing: 0.65px;
}

.footer__social1__ul {
    display: flex;
    padding-top: 6px;
}

.footer__social1__ul__li {
    cursor: url(/img/cursor_black.png), auto;
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    transition: opacity .3s ease-in-out;
}

.footer__social1__ul__li:not(:last-child) {
    margin-right: 20px;
}

.footer__social1__ul__li__ref::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid var(--purple);
    border-radius: 20px;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.footer-bottom {
    background-color: var(--black);
    padding-top: 49px;
    padding-bottom: 38px;
}

.footer__bottom__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__logo {
    margin-bottom: 10px;
}

.footer-social2 {
    display: flex;
}

.footer__social2__li:not(:last-child) {
    margin-right: 20px;
}